@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre&family=Krona+One&family=Montserrat:wght@200;400&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--color-background: #171430, #000000;
	--color-neutral-10: #171430;
	--color-neutral-20: #000000;
	--color-neutral-30: #c4d4ab;
	--color-neutral-40: #e0e0b6;
	--color-neutral-50: #f6f6f6;
	--color-hover: #666666;

	--font-basic-10: 'Gemunu Libre', sans-serif;
	--font-basic-20: 'Montserrat', sans-serif;
	--font-basic-30: 'Krona One', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to bottom, var(--color-neutral-20), var(--color-neutral-10)) no-repeat;
	color: var(--color-neutral-50);
}

:target {
	scroll-margin-top: 1%;
}

.top {
	position: fixed;
	right: 1%;
	bottom: 1%;
	transition: 0.4s ease-in-out;
}

.top:hover {
	transform: scale(0.95);
}

header {
	padding: 2% 10%;
}

.h-menu {
	border-bottom: 1px solid var(--color-hover);
	padding: 2% 0;
}

.h-menu-list {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	gap: 50px;
}

.h-m-link {
	text-decoration: none;
	color: var(--color-neutral-40);
	font-family: var(--font-basic-10);
	font-size: 1.5rem;
	transition: all 0.6s ease-in-out;
}

.h-m-link:hover {
	color: var(--color-hover);
}

.h-menu-list {
	transition: all 0.6s ease-in-out;
}

.h-menu-list li:hover {
	letter-spacing: 1px;
}

#s-home {
	padding: 2% 10%;
	display: flex;
	justify-content: flex-start;
	gap: 100px;
}

.s-home-present {
	display: flex;
	flex-direction: column;
	gap: 50px;
	width: 50%;
}

.s-home-present h1 {
	color: var(--color-neutral-50);
	font-family: var(--font-basic-30);
	font-size: 1.75rem;
}

.s-home-present strong {
	color: var(--color-neutral-40);
}

.s-home-present p {
	color: var(--color-neutral-50);
	font-family: var(--font-basic-20);
	font-size: 1.25rem;
	font-weight: 600;
}

#s-about {
	padding: 0.5% 10%;
}

#s-about h2 {
	margin: 2.5% 0;
	border-bottom: 1px solid var(--color-hover);
	color: var(--color-neutral-40);
	font-family: var(--font-basic-10);
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.s-about-p {
	display: flex;
	flex-direction: column;
	gap: 25px;
	text-align: justify;
}

.s-about-p p {
	color: var(--color-neutral-50);
	font-size: 1rem;
	font-family: var(--font-basic-20);
}

.s-about-p-img {
	margin-top: 25px;
	display: flex;
	justify-content: flex-start;
	gap: 100px;
	width: 75%;
}

.s-about-p-img p {
	color: var(--color-neutral-50);
	font-size: 1rem;
	font-family: var(--font-basic-20);
}

#s-experience {
	padding: 5% 10%;
}

#s-experience h2 {
	margin: 2.5% 0;
	border-bottom: 1px solid var(--color-hover);
	color: var(--color-neutral-40);
	font-family: var(--font-basic-10);
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.s-experience-title h4 {
	color: var(--color-neutral-50);
	font-family: var(--font-basic-10);
	font-size: 1.25rem;
	letter-spacing: 1px;
}

.s-experience-title h3 {
	color: var(--color-neutral-30);
	font-family: var(--font-basic-10);
	font-size: 1.5rem;
	letter-spacing: 1px;
}

.s-experience-title p {
	color: var(--color-neutral-50);
	font-family: var(--font-basic-20);
	font-size: 1rem;
	font-weight: 600;
	padding-bottom: 2%;
}

.s-experience-t {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 100px;
	width: 75%;
	padding-bottom: 5%;
}

.s-experience-t p {
	border-radius: 20px;
	border: 1px solid var(--color-neutral-20);
	background: linear-gradient(to right, #e0e0b6, #87b091);
	padding: 5% 5%;
	width: 50%;
	font-size: 1rem;
	font-family: var(--font-basic-20);
	color: var(--color-neutral-10);
	font-weight: 600;
	transition: all 0.7s;
}

.s-experience-t p:hover {
	transform: scale(0.95);
}

.exp-jobs1 {
	padding-bottom: 2.5%;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 50px;
}

.exp-jobs1 p {
	align-self: flex-start;
	padding: 1.5%;
	border: 1px solid var(--color-hover);
	border-radius: 10px;
	background: linear-gradient(to right, #e0e0b6, #87b091);
	font-family: var(--font-basic-20);
	font-weight: 600;
	color: var(--color-neutral-10);
	width: 50%;
	transition: all 0.5s ease-in-out;
}

.exp-jobs1 p:hover {
	margin: 0.5%;
	transform: scale(1.05);
}

#s-skills {
	padding: 0 10%;
}

#s-skills h2 {
	margin: 2.5% 0;
	border-bottom: 1px solid var(--color-hover);
	color: var(--color-neutral-40);
	font-family: var(--font-basic-10);
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.s-skills-tooltip {
	display: flex;
	justify-content: space-around;
}

.tooltip {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	padding: 1%;
}

.tooltip img {
	background-color: #333;
	padding: 10%;
	border: 1px solid var(--color-neutral-30);
	border-radius: 5px;
	transition: all 0.7s ease-out;
}

.tooltip:hover img {
	border: 1px solid #986dff;
	transform: scale(0.95);
}

.tooltiptext {
	color: var(--color-neutral-40);
	font-weight: 600;
	font-family: var(--font-basic-10);
	font-size: 1.25rem;
	letter-spacing: 1px;
	opacity: 0;
	transition: 0.5s ease-in-out;
	text-align: center;
}

.tooltip:hover span {
	opacity: 1;
	transform: scale(1.10);
}

#s-projects {
	padding: 5% 10%;
}

#s-projects h2 {
	margin: 2.5% 0;
	border-bottom: 1px solid var(--color-hover);
	color: var(--color-neutral-40);
	font-family: var(--font-basic-10);
	font-size: 1.75rem;
	letter-spacing: 1px;
}

.s-projects-cards {
	display: flex;
	justify-content: center;
}

.s-projects-box1 {
	display: flex;
	justify-content: flex-start;
	gap: 75px;
}

.s-projects-box1 a {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
	text-decoration: none;
	color: var(--color-neutral-40);
	font-size: 1.25rem;
	font-family: var(--font-basic-10);
}

.s-projects-box1 span {
	opacity: 0;
	transition: 0.5s ease;
}

.s-projects-box1:hover span {
	opacity: 1;
	letter-spacing: 0.5px;
}

.s-projects-box1 img {
	background-color: #333;
	border: 1px solid var(--color-neutral-30);
	padding: 7.5%;
	border-radius: 10px;
	transition: 0.5s ease-in-out;
}

.s-projects-box1 img:hover {
	background-color: var(--color-neutral-20);
	border: 1px solid #986dff;
}

footer {
	background-color: var(--color-neutral-20);
	border-top: 1px solid var(--color-neutral-30);
}

footer ul {
	padding: 1%;
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 50px;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 1%;
}

.footer li {
	transition: 0.5s ease-out;
	opacity: 1;
}

.footer:hover li {
	transform: scale(0.95);
	opacity: 0.5;
}

.footer p {
	color: var(--color-neutral-50);
	font-family: 'Montserrat', sans-serif;
	font-size: 0.8rem;
	font-weight: 600;
	letter-spacing: 1px;
}

.footer-icons a {
	opacity: 1;
	transition: 0.3s ease-in-out;
}

.footer-icons a:hover {
	transform: scale(0.90);
	opacity: 0.25;
}

#btn-mobile {
	display: none;
}

@media (max-width: 400px) {
	.h-menu-list {
		flex-direction: column;
		gap: 10px;
	}

	.h-m-link {
		font-size: 1rem;
	}

	#s-home img {
		display: none;
	}

	.s-home-present {
		width: 100%;
		gap: 25px;
		background-color: #111;
		padding: 2%;
		border-radius: 10px;
	}

	.s-home-present h1 {
		font-size: 1rem;		
	}

	.s-home-present p {
		font-size: 0.7rem;
		font-weight: 200;
	}

	#s-about h2,
	#s-experience h2,
	#s-skills h2,
	#s-projects h2 {
		font-size: 0.8rem;
	}

	#s-about p,
	#s-experience p,
	#s-skills p,
	#s-projects p {
		font-size: 0.7rem;
	}

	#s-about {
		padding: 1%;
		margin: 2% 10%;
		background-color: #111;
		border-radius: 10px;
	}

	.s-about-p p {
		text-align: start;
		font-weight: 100;
	}

	.s-about-p-img {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: start;
		gap: 25px;
		font-weight: 100;
	}

	.s-about-p-img img {
		width: 50%;		
	}

	#s-experience {
		background-color: #111;
		margin: 2% 10%;
		padding: 1%;
		border-radius: 10px;
	}

	.s-experience-t img {
		display: none;
	}

	.s-experience-title h4 {
		font-size: 0.7rem;
	}

	.s-experience-title h3 {
		font-size: 0.85rem;
	}

	.s-experience-title p {
		font-size: 0.6rem;
	}

	.s-experience-t {
		width: 100%;
		padding: 2%;
	}

	.s-experience-t p {
		width: 100%;
		text-align: start;
	}

	#exp {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		width: 100%;
		padding: 2%;
	}

	.exp-jobs1,
	.exp-jobs2 {
		flex-direction: column;
		gap: 10px;
		padding: 0;
		width: 100%;
	}

	.exp-jobs1 p,
	.exp-jobs2 p {
		width: 100%;
	}

	.h-skills {
		display: flex;
		flex-direction: column;
		padding: 1%;
	}

	.s-skills-tooltip {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.tooltip img {
		padding: 0;
		transition: 0.3s;
	}

	.tooltip:hover img {
		transform: none;
		border-radius: 50% 50%;
	}

	.tooltip {
		padding: 2%;
	}

	#s-projects {
		padding: 1% 5%
	}

	.s-projects-box1 {
		gap: 10px;
		justify-content: center;
	}

	.s-projects-links img {
		width: 100%;
	}

	footer {
		display: flex;
		padding: 5% 2%;
		flex-direction: column-reverse;
	}

	.footer p {
		font-size: 0.5rem;
		font-weight: 100;
	}

	footer ul {
		gap: 5px;
	}
}

@media (min-width: 401px) and (max-width: 480px) {
	.h-menu-list {
		flex-direction: column;
		gap: 10px;
	}

	.h-m-link {
		font-size: 1rem;
	}

	#s-home img {
		display: none;
	}

	.s-home-present {
		width: 100%;
		gap: 25px;
		background-color: #111;
		padding: 2%;
		border-radius: 10px;
	}

	.s-home-present h1 {
		font-size: 1rem;
	}

	.s-home-present p {
		font-size: 0.7rem;
		font-weight: none;
	}

	#s-about h2,
	#s-experience h2,
	#s-skills h2,
	#s-projects h2 {
		font-size: 1rem;
	}

	#s-about p,
	#s-experience p,
	#s-skills p,
	#s-projects p {
		font-size: 0.7rem;
	}

	#s-about {
		padding: 1%;
		margin: 2% 10%;
		background-color: #111;
		border-radius: 10px;
	}

	.s-about-p-img {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: justify;
		gap: 25px;
	}

	.s-about-p-img img {
		width: 50%;
	}

	#s-experience {
		background-color: #111;
		margin: 2% 10%;
		padding: 1%;
		border-radius: 10px;
	}

	.s-experience-t img {
		display: none;
	}

	.s-experience-title h4 {
		font-size: 1rem;
	}

	.s-experience-title h3 {
		font-size: 1.25rem;
	}

	.s-experience-title p {
		font-size: 0.7rem;
	}

	.s-experience-t {
		width: 100%;
	}

	.s-experience-t p {
		width: 100%;
		text-align: start;
	}

	#exp {
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 100%;
	}

	.exp-jobs1,
	.exp-jobs2 {
		flex-direction: column;
		gap: 25px;
		padding: 0;
		width: 50%;
	}

	.exp-jobs1 p,
	.exp-jobs2 p {
		width: 100%;
	}

	.h-skills {
		display: flex;
	}

	.s-skills-tooltip {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.tooltip img {
		padding: 0;
	}

	.tooltip:hover img {
		transform: none;
	}

	.tooltip {
		padding: 2%;
	}

	.s-projects-box1 {
		gap: 10px;
		justify-content: center;
	}

	.s-projects-links img {
		width: 100%;
	}

	footer ul {
		gap: 10px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.h-menu-list {
		flex-direction: column;
		gap: 10px;
	}

	.h-m-link {
		font-size: 1rem;
	}

	#s-home img {
		display: none;
	}

	.s-home-present {
		width: 100%;
		gap: 25px;
		background-color: #111;
		padding: 2%;
		border-radius: 10px;
	}

	.s-home-present h1 {
		font-size: 1rem;
	}

	.s-home-present p {
		font-size: 0.7rem;
		font-weight: none;
	}

	#s-about h2,
	#s-experience h2,
	#s-skills h2,
	#s-projects h2 {
		font-size: 1rem;
	}

	#s-about p,
	#s-experience p,
	#s-skills p,
	#s-projects p {
		font-size: 0.7rem;
	}

	#s-about {
		padding: 1%;
		margin: 2% 10%;
		background-color: #111;
		border-radius: 10px;
	}

	.s-about-p-img {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: justify;
		gap: 25px;
	}

	.s-about-p-img img {
		width: 50%;
	}

	#s-experience {
		background-color: #111;
		margin: 2% 10%;
		padding: 1%;
		border-radius: 10px;
	}

	.s-experience-t img {
		display: none;
	}

	.s-experience-title h4 {
		font-size: 1rem;
	}

	.s-experience-title h3 {
		font-size: 1.25rem;
	}

	.s-experience-title p {
		font-size: 0.7rem;
	}

	.s-experience-t {
		width: 100%;
	}

	.s-experience-t p {
		width: 100%;
		text-align: justify;
	}

	#exp {
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 100%;
	}

	.exp-jobs1,
	.exp-jobs2 {
		flex-direction: column;
		gap: 25px;
		padding: 0;
		width: 50%;
	}

	.exp-jobs1 p,
	.exp-jobs2 p {
		width: 100%;
	}

	.h-skills {
		display: flex;
	}

	.s-skills-tooltip {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.tooltip img {
		padding: 0;
	}

	.tooltip {
		padding: 2%;
	}

	.s-projects-box1 {
		gap: 10px;
		justify-content: center;
	}

	.s-projects-links img {
		width: 100%;
	}

	footer ul {
		gap: 10px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.h-m-link {
		font-size: 1.25rem;
	}

	#s-home img {
		display: none;
	}

	.s-home-present {
		width: 100%;
		gap: 25px;
		background-color: #111;
		padding: 2%;
		border-radius: 10px;
	}

	.s-home-present h1 {
		font-size: 1rem;
	}

	.s-home-present p {
		font-size: 0.7rem;
		font-weight: 200;
	}

	#s-about h2,
	#s-experience h2,
	#s-skills h2,
	#s-projects h2 {
		font-size: 1.25rem;
	}

	#s-about p,
	#s-experience p,
	#s-skills p,
	#s-projects p {
		font-size: 0.7rem;
	}

	#s-about {
		padding: 1%;
		margin: 2% 10%;
		background-color: #111;
		border-radius: 10px;
	}

	.s-about-p-img {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		text-align: justify;
		gap: 25px;
	}

	.s-about-p-img img {
		width: 50%;
	}

	#s-experience {
		background-color: #111;
		margin: 2% 10%;
		padding: 1%;
		border-radius: 10px;
	}

	.s-experience-t img {
		display: none;
	}

	.s-experience-title h4 {
		font-size: 1rem;
	}

	.s-experience-title h3 {
		font-size: 1.25rem;
	}

	.s-experience-title p {
		font-size: 0.7rem;
	}

	.s-experience-t {
		width: 100%;
	}

	.s-experience-t p {
		width: 100%;
		text-align: justify;
	}

	#exp {
		display: flex;
		justify-content: center;
		gap: 10px;
		width: 100%;
	}

	.exp-jobs1,
	.exp-jobs2 {
		flex-direction: column;
		gap: 25px;
		padding: 0;
		width: 50%;
	}

	.exp-jobs1 p,
	.exp-jobs2 p {
		width: 100%;
	}
}

